html {
	background-color: #0D1419;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
body {
	margin: 0;
	padding: 0;
}

.star {
	fill: #73A0BF;
}

.bubble {
	fill: #73A0BF;
	fill-opacity: 1;
	
	stroke: #fff;
	stroke-width: 1;
}
.bubble-hover {
	fill: #73A0BF;
	fill-opacity: 1;
	
	stroke: #fff;
	stroke-width: 2;
	
	cursor: pointer;
}

.link-passive {
	fill: none;
	
	stroke: #73A0BF;
	stroke-width: 1;
	stroke-opacity: 0.2;
	
	pointer-events: none;
}
.link {
	fill: none;
	
	stroke: #73A0BF;
	stroke-width: 1;
	stroke-opacity: 0.5;
	
	pointer-events: none;
}
.link-hover {
	fill: none;
	
	stroke: #fff;
	stroke-width: 2;
	
	pointer-events: none;
}

.label {
	fill: #73A0BF;
	stroke: none;
}
.label-hover {
	fill: #fff;
	stroke: none;
	
	cursor: pointer;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: calc(100vw - 0px);
	height: calc(100vh - 0px);
	/* padding-bottom: 100%; */
	padding: 0;
	margin: auto;
	/* vertical-align: top; */
	overflow: hidden;
}
.svg-content {
	width: calc(100% - 80px);
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 80px;
}

.slidecontainer {
	position: absolute;
}
.slidecontainerScale {
	top: 0;
	left: 0;
}
.slidecontainerDistance {
	top: 0;
	left: 40px;
}
.slidecontainer p {
	display: none;
	color: #73A0BF;
	font-size: 18px;
	margin: 0;
}
.slider {
	position: relative;
	top: 80px;
	left: -68px;
	/*ISA-STRIP*/top: 120px;
	/*ISA-STRIP*/left: -115px;
	transform: rotate(-90deg);
	
	width: 130px;
	/*ISA-STRIP*/width: 200px;
	height: 10px;
	margin: 0;
	
	-webkit-appearance: none;
	/*ISA-STRIP*/background: #303940;
	border-radius: 5px;  
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #73A0BF;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #73A0BF;
	cursor: pointer;
}
#distanceRange {
}
#scaleRange {
}

.scaleIcon {
	position: relative;
	top: 5px;
	left: 4px;
	width: 20px;
	height: 20px;
	/*ISA-STRIP*/width: 30px;
	/*ISA-STRIP*/height: 30px;
}